@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #fbfbfb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  color: #8b8ba5;
  font-weight: 500;
  font-size: 18px;
}

.nav-item:hover {
  color: #f7c531;
}

.nav-active {
  color: #272042;
  font-weight: 500;
  font-size: 18px;
}

.hero {
  min-height: calc(100vh - 96px);
}

.heading-1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 70px;
  color: #272042;
}

.heading-2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #272042;
}

.heading-3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #272042;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #8b8ba5;
}

.btn-menu {
  width: 210px;
  height: 50px;
  display: flex;
  color: #272042;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  background-color: #f7c531;
  border-radius: 30px 30px 20px 20px;
}

.img-category {
  width: 320px;
  height: 200px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  background-color: #ece7f6;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-category:hover .transbox-meal {
  width: inherit;
  height: inherit;
  display: flex;
  padding: 24px;
  text-align: center;
  align-items: center;
  border-radius: inherit;
  justify-content: center;
  background-color: #27204266;
}

.img-category:hover .title-meal {
  display: block;
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
}

.img-detail {
  border-radius: 50px;
}

.recipes li {
  font-size: 18px;
  margin-left: 30px;
  list-style-type: circle;
}

.text-detail {
  font-size: 18px;
}

.video-container {
  position: relative;
  border-radius: 50px;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
